<h3>results for <%= @ticker %> for the following dates <%= @trade_date_arr %></h3>

<div class="container"

  <div class="open">Opening Prices<%= @open_arr %>

  </div>
  <div class="high">Day High Price<%= @high_arr %>

  </div>
  <div class="close">Closing Prices<%= @close_arr %>

  </div>

</div>
